@{
    ViewBag.Title = "Home Page";
}
<h4>A sample single page application using:</h4>
<p>
    <ul>
        <li>Asp.net MVC + AngularJS</li>
        <li>Web API + RavenDB</li>
    </ul>
</p>

<div class="row">
    <div class="col-md-12">
        <div ng-view></div>
    </div>
</div>